@model AppStore.Models.DTO.LibroListVm

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="search-bar">
    <form action="/Home/Index" method="get">
        <input type="search" name="term" value="@Model.Term" placeholder="buscar libro" onsearch="if(this.value === '') this.form.submit();">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>

<section class="movies">
    @foreach (var libro in Model.LibroList!)
    {
        var url = "";
        if (!libro.Imagen!.StartsWith("http"))
        {
            url = $"~/uploads/{libro.Imagen}";
        }
        else
        {
            url = $"{libro.Imagen}";
        }
        <div class="movie-card" onclick="window.location.href='/Home/LibroDetail?libroId=@libro.Id'" >
            <div class="movie-image">
                <img src="@url" alt="@libro.Titulo">
            </div>
            <div class="movie-info">
                <h4>@libro.Titulo</h4>
                <h4>@libro.CategoriasNames</h4>
                <h4>@(libro.CreationDate?.ToString("dd/MM/yyyy"))</h4>
            </div>
        </div>
    }
</section>

@if (Model.TotalPages >= 1)
{
    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <a href="/Home/Index?currentPage=@(Model.CurrentPage - 1)&term=@Model.Term">&laquo;</a>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <a class="active" href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>
            }
            else
            {
                <a href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>
            }
        }

        @if (Model.CurrentPage < Model.TotalPages)
        {
            <a href="/Home/Index?currentPage=@(Model.CurrentPage + 1)&term=@Model.Term">&raquo;</a>
        }
    </div>
}
