@model AppStore.Models.DTO.LibroListVm

@{
    ViewData["Title"] = "Lista de Libros";
}

<div class="tbl-container">
    <h2 class="pb-10">Administracion de Libros</h2>

    <table class="tbl">
        <thead>
            <tr>
                <th>Título</th>
                <th>Categoría</th>
                <th>Fecha de Publicación</th>
                <th>Imagen</th>
                <th>Autor</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var libro in Model.LibroList!)
            {
                var url = "";
                if (!libro.Imagen!.StartsWith("http"))
                {
                    url = $"~/uploads/{libro.Imagen}";
                }
                else
                {
                    url = $"{libro.Imagen}";
                }
                <tr>
                    <td>@libro.Titulo</td>
                    <td>@libro.CategoriasNames</td>
                    <td>@(libro.CreationDate?.ToString("dd/MM/yyyy"))</td>
                    <td><img src="@url" style="width: 80px;height: 60px;" alt="@libro.Titulo" class="tbl-image" /></td>
                    <td>@libro.Autor</td>
                    <td>@libro.Precio</td>
                    <td>
                        <a href="~/Libro/Edit?id=@libro.Id" class="btn btn-default">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Libro/Delete?id=@libro.Id" onclick="return confirm('¿Estás seguro de que quieres eliminar este libro?');" class="btn btn-danger">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="input-container">
        <a href="~/Libro/Add" class="btn btn-sec">Agregar Nuevo Libro</a>
    </div>

</div>